# Visual Studio ve .NET
*.log
*.pfx
*.vs/
[Bb]in/
[Oo]bj/
*.pdb
*.suo
*.user
*.bak
*.resharper
*.DotSettings
.vs/
*.vshost.*
*.testsettings
*.trx
*.vsix
*.cache

# NuGet
packages/
*.nupkg
*.nuspec

# Diğerleri
Thumbs.db
